
        
        <div class="navbar">
            <div class="logo"></div>
            <ul class="links">
                <li><a href="index.html"><strong>Inicio</strong></a></li>
                <li><a href="bio.html"><strong>Acerca de mí</strong></a></li>
                <li><a href="habilidades.html"><strong>Habilidades</strong></a></li>
                <li><a href="proyectos.html"><strong>Proyectos</strong></a></li>
                <li><a href="contacto.html"><strong>Contactos</strong></a></li>
            </ul>
<div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
</div>
    </div> 
    <div class="dropdown_menu ">
        <li><a href="index.html"><strong>Inicio</strong></a></li>
        <li><a href="bio.html"><strong>Acerca de mí</strong></a></li>
        <li><a href="habilidades.html"><strong>Habilidades</strong></a></li>
        <li><a href="proyectos.html"><strong>Proyectos</strong></a></li>
        <li><a href="contacto.html"><strong>Contactos</strong></a></li>
    </div>
