

<nav>
        <div class="navbar">
            <div class="logo"></div>
            <ul class="links">
                <li><a href="/"><strong>Inicio</strong></a></li>
                <li><a href="bio"><strong>Acerca de mí</strong></a></li>
                <li><a href="habilidades"><strong>Habilidades</strong></a></li>
                <li><a href="proyectos"><strong>Proyectos</strong></a></li>
                <li><a href="contacto"><strong>Contactos</strong></a></li>
            </ul>
<div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
</div>
    </div> 
    <div class="dropdown_menu ">
        <li><a href="/"><strong>Inicio</strong></a></li>
        <li><a href="bio"><strong>Acerca de mí</strong></a></li>
        <li><a href="habilidades"><strong>Habilidades</strong></a></li>
        <li><a href="proyectos"><strong>Proyectos</strong></a></li>
        <li><a href="contacto"><strong>Contactos</strong></a></li>
    </div>
</nav>