<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Habilidades HQ</title>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/estiloHabilidad.css">
</head>
<body>
    
        

    {{> navbar}}

<div class="gridH">
<div class="contenido">
<h2>Habilidades e Idiomas</h2>
<hr>
<h3>Idiomas</h3>
<p>Ingles <br>
    Proceso de curso nivel  A1-A2-B1 <br><br>
        Español-castellano <br>
            Nativo 
    </p>

<hr>
<h3>Habilidades blandas</h3>
<p>
    Comunicación <br>
	Trabajo en equipo <br>
	Creatividad y criterio <br>
	Organización <br>
	Resolución de problemas <br>
	Adaptación <br>

</p>

<hr>
<p>Mis habilidades se han incrementado a base de practica y nuevas lecturas, 
    proceso de cursos tanto personales como universitarios, involucrado en 
    situaciones laborales, prácticas en áreas que permiten la labor voluntaria,
     otras habilidades las he desarrollado con ayuda de mentores que han 
     influido en mi personalidad, actualmente mis habilidades las utilizo en 
     el área tecnológico y en relación con equipos de audio profesional por 
     parte de las labores diarias.</p>

<hr>
<h3>Nivel de estudio y cursos</h3>
<p>Estudio Universitario: 8vo. Semestre en Ingeniería en Sistemas. <br>
"Universisdad Mariano Gálvez" <br>
Cursos idioma inglés: <br>
Inglés técnico convencional A1,A2,B1,B2 <br>
Curso práctico del idioma inglés. <br>
Cursos virtuales: <br> 
Introducción a las Redes-Cisco. <br>
CNNA6 redes. <br>
C# (Introductorio-intermedio "intensivo") <br>
Node js (Introductorio-intermedio "intensivo")<br>
Javascrypt (Introductorio-intermedio "intensivo")<br>
HTML5 (Introductorio-intermedio "intensivo")<br>
CSS3 (Introductorio-intermedio "intensivo")<br>
Estructuras de Sonido, mezcla de audio en vivo y estudio (introductorio-intermedio).
</p>
<hr>
     <h3>Habilidades técnicas</h3>
<p>Programación lenguajes: C++, C#, Java, Javascrypt, Node js,(Introductorio-intermedio). <br>
	Base de datos: SQL server (Intermedio), MySQL, MongoDB, OracleDB (Introductorios) <br>
	Desarrollo Web: HTML5, CSS3, .NET, BOOSTRAP5 (Introductorio-intermedio). <br>
Conocimiento técnico manejo, configuración e instalación de audio profesional(digital-análogo). <br>
	Conocimiento y manejo de documentos en la nube <br>
	Conocimiento en paquetes de Microsoft Office <br>
</p>
    </div>

<!--porcentajes-->
<div class="porcentajes">

<div class="contenedor">
<div id="valorDiv" hidden>60</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje" class="percentage"></p>
      </div>

      <div class="title">
          <h1>C++</h1>
      </div>
    </div>

<div class="contenedor">
<div id="valorDiv2" hidden>68</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress2"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje2" class="percentage"></p>
      </div>

      <div class="title">
          <h1>C#</h1>
      </div>
    </div>

<div class="contenedor">
<div id="valorDiv3" hidden>53</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress3"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje3" class="percentage"></p>
      </div>

      <div class="title">
          <h1>Java</h1>
      </div>
    </div>


    <div class="contenedor">
<div id="valorDiv4" hidden>59</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress4"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje4" class="percentage"></p>
      </div>

      <div class="title">
          <h1>Javascrypt</h1>
      </div>
    </div>


    <div class="contenedor">
<div id="valorDiv5" hidden>53</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress5"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje5" class="percentage"></p>
      </div>

      <div class="title">
          <h1>Node JS</h1>
      </div>
    </div>


    <div class="contenedor">
<div id="valorDiv6" hidden>66</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress6"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje6" class="percentage"></p>
      </div>

      <div class="title">
          <h1>SQL Server</h1>
      </div>
    </div>


    <div class="contenedor">
<div id="valorDiv7" hidden>50</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress7"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje7" class="percentage"></p>
      </div>

      <div class="title">
          <h1>Mongo DB</h1>
      </div>
    </div>


    <div class="contenedor">
<div id="valorDiv8" hidden>63</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress8"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje8" class="percentage"></p>
      </div>

      <div class="title">
          <h1>.NET</h1>
      </div>
    </div>


    <div class="contenedor">
<div id="valorDiv9" hidden>53</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress9"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje9" class="percentage"></p>
      </div>

      <div class="title">
          <h1>BOOSTRAP5</h1>
      </div>
    </div>

   <div class="contenedor">
<div id="valorDiv10" hidden>63</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress10"
          ></circle>
        </svg>
      </div>
      <div class="box_percentage">
        <p id="porcentaje10" class="percentage"></p>
      </div>

      <div class="title">
          <h1>HTML5</h1>
      </div>
    </div>

      <div class="contenedor">
<div id="valorDiv11" hidden>62</div>
      <div class="svg">
        <svg width="125" height="125">
           <svg width="125" height="125">
          <circle r="50" cx="62.5" cy="62.5"
          class="progress2"
        ></circle>
          <circle
            r="50"
            cx="62.5"
            cy="62.5"
            class="progress"
            id="progress11"
          ></circle>
        </svg>
      </div>

      <div class="box_percentage">
        <p id="porcentaje11" class="percentage"></p>
      </div>

      <div class="title">
          <h1>CSS3</h1>
      </div>
    </div>
</div>

<!--porcentajes-->




</div>
{{> footer}}
</body>

<script src="../JS/global.js"></script>
<script src="../JS/habilidadesPorcentaje.js"></script>
</html>