<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Proyectos HQ</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/estiloProyect.css">
</head>
<body>
    
       

    {{> navbar}}

<div class="gridP">
<div class="contenido">
<p id="titulo" class="introBotro"><strong>Proyectos</strong><br>
        Aqui podemos visualizar algunos proyectos realizados.
        </p>

<div class="proyectos">

   <div class="cajas">
   <img src="../images/pMRU/s1.png" alt="">
   <p>Proyecto MRU y MRUV</p>
   <a href="/proyectos/proyecto1">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/pMongo/s1.png" alt="">
   <p>Proyecto conexion a Mongo DB usando  <br>
   node js, javascrypt, express js
   </p>
   <a href="/proyectos/proyecto2">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/pYargs/s1.png" alt="">
   <p>Proyecto Tablas de Multiplicar</p>
   <a href="/proyectos/proyecto3">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/siga/s2.png" alt="">
   <p>SIGA_INED</p>
   <a href="/proyectos/proyecto4">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/p1/s2.png" alt="">
   <p>instaCpc</p>
   <a href="/proyectos/proyecto5">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/p2/s1.png" alt="">
   <p>Chapinopoly</p>
   <a href="/proyectos/proyecto6">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/p4/s2.png" alt="">
   <p>Base para laptop</p>
   <a href="/proyectos/proyecto7">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/auditoriaP/s1.png" alt="">
   <p>Auditoria/vitacora con SQL y c#.Net</p>
   <a href="/proyectos/proyecto8">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/p5/s1.png" alt="">
   <p>CRUD manejo de imagenes por direccion de memoria y uso de procedimientos en SQL</p>
   <a href="/proyectos/proyecto9">ver</a>
   </div>

   <div class="cajas">
   <img src="../images/p5/c1.png" alt="">
   <p>Calculadora en JAVA</p>
   <a href="/proyectos/proyecto10">ver</a>
   </div>

</div>

</div>

</div>


{{> footer}}
</body>
<script src="../JS/global.js"></script>
</html>