<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Proyecto 4 HQ</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/estiloProyectos2.css">
</head>
<body class="Bodyproyecto2-1">
    
      
{{> navbar}}

<div class="gridP">
<div class="contenido contenido2">

    <div class="introBotro"><strong>SIGA</strong><br>
        Este es un proyecto que aun se encuentra en desarrollo <br>
        pero consiste en un sistema de gestion académica que es capaz <br>
        aceptar archivos y datos, y asi mismo se encarga de automatizar <br>
        calculos para facilitar una entrega de notas a base de la data <br>
        almacenada y contar con parámetros.
            </div>
 <div class="caja">           
<div class="slider-box">
    <ul>
        <li><img id="c2" src="../images/siga/s1.png" alt=""></li>
        <li><img id="c2" src="../images/siga/s2.png" alt=""></li>
        <li><img id="c2" src="../images/siga/s4.png" alt=""></li>
        <li><img id="c2" src="../images/siga/s3.png" alt=""></li>
    </ul>
      </div>
     </div>

     <div class="video">
        <iframe src="https://drive.google.com/file/d/1pGppWhgxugMohcwdfJHCbbR_2rUN_bgM/preview" width="640" height="480" allow="autoplay"></iframe>
     </div>


</div>
</div>
<br><br>
<button class="verP"><a  href="/proyectos">Regresar</a></button>



{{> footer}}

<script src="../JS/global.js"></script>

</body>
</html>