<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Proyecto 6 HQ</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/estiloProyectos2.css">
</head>
<body>
    
      
 {{> navbar}}

<div class="gridP">
<div class="contenido">

    <div class="introBotro"><strong>Chapinopoly</strong><br>
        Este es un juego que realizamos el cual esta basado en monopoly
    <br>pero fue diseñado en java y adaptado a la cultura guatemalteca por lo que 
    <br>fue muy creativo, interactivo y muy elaborado para lo que teniamos de recursos, 
    <br>y si bien le falta trabajo para un proyecto en 2 meses o menos
    <br>me parecio muy bien el proyecto y divertido de jugar.
            </div>
 <div class="caja">           
<div class="slider-box">
    <ul>
        <li><img src="../images/p2/s1.png" alt=""></li>
        <li><img src="../images/p2/s2.png" alt=""></li>
        <li><img src="../images/p2/s3.png" alt=""></li>
        <li><img src="../images/p2/s4.png" alt=""></li>
        <li><img src="../images/p2/s5.png" alt=""></li>
        <li><img src="../images/p2/s6.png" alt=""></li>
        <li><img src="../images/p2/s7.png" alt=""></li>
        <li><img src="../images/p2/s8.png" alt=""></li>
        <li><img src="../images/p2/s9.png" alt=""></li>
        <li><img src="../images/p2/s10.png" alt=""></li>
        <li><img src="../images/p2/s11.png" alt=""></li>
    </ul>
      </div>
     </div>


</div>
</div>
<br><br>
<button class="verP"><a  href="/proyectos">Regresar</a></button>



{{> footer}}

       <script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropdownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function(){
        dropdownMenu.classList.toggle('open')
        const isOpen = dropdownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>

</body>
</html>