*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url("../images/error.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

h1{
    color: rgb(37, 147, 167);
}
a{
    color: rgb(37, 147, 167);
}