*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

.contenido{
  margin: 0 auto;
}
.gridP {
  width: 0 auto;
  margin: 0 auto;
  display: grid;
  grid-template:
  
    "titulo"
    "contenido";
 
  /*definimos plantilla*/
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: orange;
}


nav {
  /*background-color: darkseagreen;*/
  /* background-color: rgb(199, 223, 210);*/
  grid-area: header;
  background: rgb(146, 203, 121);
  background: linear-gradient(
    80deg,
    rgba(146, 203, 121, 1) 0%,
    rgba(208, 253, 215, 1) 44%,
    rgba(216, 240, 202, 1) 92%
  );
  width: 100%;
  position: fixed;
  padding: 0 0.8rem;
  z-index: 1;
  border-bottom: 2px solid;
  font-family: Arial;
  font-size: 20px;

}
.navbar {
  width: 100%;
  height: 68px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  position: left;
  padding-left: 0 auto;
  width: 65px;
  height: 65px;
  background-image: url("/images/logo hq.png");
  background-size: 65px;
  background-position: center;
}

.navbar .links {
  display: flex;
  gap: 2rem; /*gap ayuda a dar espacio parejo*/
}

.navbar .links:hover {
  scale: 1.02;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

/*******************/
.dropdown_menu {
  margin-top: 15px;
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 150px;
  background: rgba(7, 128, 98, 0.184);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.58rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu.open {
  height: 200px;
}


.footer1 {
  background: rgb(146, 203, 122);
  background: linear-gradient(
    80deg,
    rgba(146, 203, 121, 1) 0%,
    rgba(208, 253, 215, 1) 44%,
    rgba(216, 240, 202, 1) 92%
  );
  height: 80px;
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: flex-start;
}
.footer1 img{
grid-area: footer;
  width: 5%;
  height: 100% ;
  
}




/*****************/
/*responsive*/
/*media es una regla de bloque*/
@media (max-width: 991px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (min-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .navbar .toggle_btn {
    display: none;
  }

  .dropdown_menu {
    display: none;
  }
}

/*********************/

.contenido {
  grid-area: contenido;
  position: relative;
  margin-top: 2vh;
  width: 100%;
  height: auto;
   margin-bottom: 30vh;
}


.proyectos{
  position: relative;
  margin: 0 auto;
  color: rgb(201, 247, 93);
  backdrop-filter: brightness(40%);
  width:95%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 30px;
}


.cajas{
width: 415px;
height: 360px;
margin: 50px 25px 25px 25px;
text-align: center;
border-radius: 20px;
box-shadow: 0px 0px  15px rgb(201, 247, 93);
overflow: hidden;
}

.cajas img{
  position: relative;
  margin: 8px auto 0 auto;
  width: 400px;
  height: 250px;
  border-radius: 20px 20px 10px 10px;
}

.cajas a{
  color: rgb(201, 247, 93);
  width: 50px;
  height: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px  10px rgb(201, 247, 93);
 
}



.introBotro {
  width: 100%;
  padding: 1rem;
  margin: 100px auto 1vh auto;
  margin-bottom: -16vh;
  position: relative;
  text-align: justify;
  color: rgb(201, 247, 93);
  backdrop-filter: brightness(40%);
  border-radius: 50px;
  text-align: center;
  font-family: Arial;
  font-size: 1rem;
  overflow-wrap: break-word;
}

#titulo{
  grid-area: titulo;
  position: relative;
  margin-bottom: 50px;

}