*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 120vh;
  background-color: #000;
  background-image: url("../images/fondoo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
  overflow: scroll;
}

.Bodyproyecto2{
   height: 170vh;
   width: 100%;
   overflow: scroll;
}
.Bodyproyecto2-1{
   height: 170vh;
   width: 100%;
   overflow: scroll;
}
.Bodyproyecto3{
   height: 100vh;
   width: 100%;
   overflow: scroll;
}

.Bodyproyecto4{
   height: 140vh;
   width: 100%;
   overflow: scroll;
}
.contenido {
  margin: 0 auto;
  width: 100%; 
  height: 100vh; 
  
}

.gridP {
  width: 100%; 
  height: 100%; 
  margin: 0 auto;
  bottom: 20px;
  display: grid;
  grid-template: "contenido";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 5%;
}




li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(252, 247, 247);
}

a:hover {
  color: rgb(166, 236, 4);
}



nav {
color: aliceblue;
  background: rgb(62,67,72);
background: linear-gradient(90deg, rgba(62,67,72,1) 32%, rgba(116,124,141,1) 86%);

  width: 100%;
  position: fixed;
  padding: 0 0.8rem;
  z-index: 1;
  border-bottom: 2px solid;
  font-family: Arial;
  font-size: 20px;
}

.navbar {
  color: aliceblue;
  width: 100%;
  height: 68px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  position: left;
  padding-left: 0 auto;
  width: 65px;
  height: 65px;
  background-image: url("../images/Imagen2.png");
  background-size: 65px;
  background-position: center;
}

.navbar .links {
  color: aliceblue;
  display: flex;
  gap: 2rem; /*gap ayuda a dar espacio parejo*/
}
/*agregue esto*/
.links strong{
  color: aliceblue;
}

.navbar .links:hover {
  transform: scale(1.01); /* Corregir "scale" */
}

.navbar .toggle_btn {
  color: rgb(194, 226, 10);
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}
/* Dropdown Menu */
.dropdown_menu {
  margin-top: 15px;
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 150px;
  background: rgb(62,67,72,0.9);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.58rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu.open {
  height: 200px;
}

/* Footer */
.footer1 {
  color: aliceblue;
  background: rgb(62,67,72);
background: linear-gradient(90deg, rgba(62,67,72,1) 32%, rgba(116,124,141,1) 86%);
  height: 80px;
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: flex-start;
}

.footer1 img {
  grid-area: footer;
  width: 5%;
  height: 100%;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (min-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .navbar .toggle_btn {
    display: none;
  }

  .dropdown_menu {
    display: none;
  }
}

/* Other styles */
.contenido {
  grid-area: contenido;
  position: relative;
}

.introBotro {
  width: 80%;
  padding: 1rem;
  margin: 100px auto 100px auto;
  margin-bottom: -13vh;
  position: relative;
  text-align: justify;
  color: rgb(201, 247, 93);
 background: rgba(79, 85, 92, 0.5);
  border-radius: 50px;
  text-align: center;
  font-family: Arial;
  font-size: 1rem;
  overflow-wrap: break-word;
}




.slider-box {
  width: 400px;
  height: auto;
  margin: 50px auto 0;
  position: block;
  margin-top: 18%;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 700%;
  animation: slide 12s infinite alternate ease-in-out;
  overflow: hidden;
}

.slider-box li {
  width: 600%;
  list-style: none;
  position: relative;
}

.slider-box img {
  width: 100%;
  height: 90%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -350%;
  }
  85% {
    margin-left: -550%;
  }
  100% {
    margin-left: -600%;
  }
}

.caja {
  position: relative;
  top: -100px;
  margin: 80px auto -100px auto;
  width: 900px;
  overflow: hidden;
}

.caja img {
  width: 480px;
  margin-left: 15px;
}

.video {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-bottom: 30px;
  
}


#c1 {
  width: 450px;
  height: 480px;
  margin-bottom: 20px;
}

#c2 {
  width: 400px;
  height: 250px;
  margin-bottom: 20px;
}

#c3 {
  width: 700px;
  height: 450px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#c4 {
  width: 700px;
  height: 550px;
  margin-bottom: 20px; 
}

#c5 {
  width: 650px;
  height: 450px;
  margin-left: 10px;
  margin-bottom: 20px; 
}






@media (max-width: 720px) {
  .slider-box {
    max-width: 450px;
    height: 550px;
    margin-top: 20%;
  }
}

@media (max-width: 646px) {
  .slider-box {
    max-width: 250px;
    height: 500px;
  margin-top: 22%;
  }
}



  

 
/*************************************/
button {
  background-color: rgb(58, 65, 62);
  color: rgb(52, 46, 46); /* Set text color to white */
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  text-align: center;
  vertical-align: center;
}

.verP {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.verP:hover, .verP:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.verP {
  --color: #1d1f1e;
  --hover: rgb(49, 54, 52) ;
}




/**/
@media (min-width: 720px) {
.footer1{
    width: 100%;
  }

}

@media (min-width: 620px) {
.footer1{
    width: 100%;
  }

}


/****************************************/
@media (max-width: 431px) {
.footer1{
    width: 100%;
  }

.verP{
  margin-top: -35px;
  margin-bottom: 40px;
}

.contenido {
  width: 250px;
  height: 140vh;
   overflow: hidden;
}
.contenido2 {
  width: 275px;
  height: 180vh;
   overflow: hidden;
}

.contenido3 {
  width: 275px;
  height: 105vh;
   overflow: hidden;
}

.video{
margin-top: 150px;
width: 250px;
height: 21px;
}

.introBotro{
  font-size: 0.8rem;
  text-align:justify;
  width: 240px;
  height: auto;
  margin-bottom: 25px;
}

.Bodyproyecto2{

  height: 160vh;
}
.Bodyproyecto2-1{

  height: 180vh;
}

.Bodyproyecto3{

  height: 240vh;
}
.Bodyproyecto4{
  height: 130vh;
  z-index: 2;
}

.Bodyproyecto5{
  height: 120vh;
  z-index: 6;
}


.Bodyproyecto8{
  height: 120vh;
 
}

body{
  height: 211vh;
}
.video{
  margin-top: 260px;
  margin-bottom: 25px;
  width: 250px;
  height: 150px;
}

#c5{
width: 350px;


}

.caja{
  width: 340px;
  height: 360px;
}
  button{
    margin: 0 auto;
  }


  .slider-box{
    position: relative;
   width: 450px;
    height: auto;
margin-left: 0 auto;
display: flex;
align-items: center;
justify-content: center;

  }

}