*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 80vh;
  background-image: url("../images/fondoo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
  margin: 0; /* Añadir margen 0 para evitar el espacio adicional */
  padding: 0; /* Añadir relleno 0 para evitar el espacio adicional */
}

.gridInicio {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    "inicioFoto bienv";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 21%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(252, 247, 247);
}

a:hover {
  color: rgb(166, 236, 4);
}



nav {
color: aliceblue;
  background: rgb(62,67,72);
background: linear-gradient(90deg, rgba(62,67,72,1) 32%,
 rgba(116,124,141,1) 86%);
  width: 100%;
  position: fixed;
  padding: 0 0.8rem;
  z-index: 1;
  border-bottom: 2px solid;
  font-family: Arial;
  font-size: 20px;
}

.bienv {
  grid-area: bienv;
  background-color: rgba(64, 66, 51, 0.6);
  width: 20%; /* Cambia el ancho a 100% para que ocupe todo el ancho disponible */
  height: auto; /* Usa altura automática para ajustar el contenido */
  position: relative;
  margin: 10vh auto; /* Ajusta el margen vertical y centraliza horizontalmente */
  color: rgb(183, 250, 13);
  padding: 1rem; /* Ajusta el relleno */
  border-radius: 20px; /* Reduce el valor del radio del borde */
  text-align: justify;
  font-family: Arial;
  font-size: 1rem; /* Cambia el tamaño de la fuente a 1rem */
  word-wrap: break-word;
}




.footer1{
position: relative;
color: aliceblue;
  background: rgb(62,67,72);
background: linear-gradient(90deg, rgba(62,67,72,1) 32%, rgba(116,124,141,1) 86%);
height: 80px;
width: 100%;
margin-top: 2vh; /*modificado*/
display: flex;
justify-content: flex-start;
    margin-top: 29vh;
  
}
.footer1 img {
  height: 100%;
}

.inicioFoto {
  grid-area: inicioFoto;
  height: 50vh;
  width: 250px;
  position: relative;
  margin-bottom: 1vh;
  top: 13vh;
  background-image: url("../images/fotoHQ.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50px;
  box-shadow: 0 0 30px rgb(166, 236, 4);
}

.navbar {
  color: rgb(236, 241, 246);
  width: 100%;
  height: 68px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  position: left;
  padding-left: 0 auto;
  width: 65px;
  height: 65px;
  background-image: url("../images/Imagen2.png");
  background-size: 65px;
  background-position: center;
}


.navbar .links {
  color: aliceblue;
  display: flex;
  gap: 2rem; /*gap ayuda a dar espacio parejo*/
}
/*agregue esto*/
.links strong{
  color: aliceblue;
}

.navbar .links:hover {
  transform: scale(1.01); /* Corregir "scale" */
}

.navbar .toggle_btn {
  color: rgb(194, 226, 10);
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

/* Dropdown Menu */
.dropdown_menu {
  margin-top: 15px;
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 150px;
  /*agregue*/
  color: aliceblue;
  background: rgb(62,67,72,0.9);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.58rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu.open {
  height: 200px;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (min-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .navbar .toggle_btn {
    display: none;
  }

  .dropdown_menu {
    display: none;
  }
}

/* Añadir reglas de medios para textos responsivos */
@media (max-width: 767px) {
.gridInicio {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-template-areas:
      "inicioFoto"
      "bienv"; /* Cambia el orden en pantallas pequeñas */
      
  }
  .inicioFoto{
   margin-top: 5vh;
  }

  .bienv {
    margin-top: 17vh;
        margin-bottom: 8vh;
     width: 50%;
    font-size: 1rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }
  .footer1{
    margin-top: 10vh;
  }

}

@media (max-width: 576px) {
  .gridInicio {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-template-areas:
      "inicioFoto"
      "bienv"; /* Cambia el orden en pantallas pequeñas */
  }

  .inicioFoto{
    margin-top: 2vh;
    margin-bottom: 8vh;
  }
  .bienv {
    
     width: 50%;
    font-size: 0.9rem; /* Ajusta el tamaño de fuente para pantallas aún más pequeñas */
     margin-top: 9vh;
   
  }

  .footer1{
    margin-top: 10vh;
  }
}

