<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Proyecto 3 HQ</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/estiloProyectos2.css">
</head>
<body Bodyproyecto2>
    
      
    <nav >
        <div class="navbar">
            <div class="logo"></div>
            <ul class="links">
                <li><a href="index.html"><strong>Inicio</strong></a></li>
                <li><a href="bio.html"><strong>Acerca de mí</strong></a></li>
                <li><a href="habilidades.html"><strong>Habilidades</strong></a></li>
                <li><a href="proyectos.html"><strong>Proyectos</strong></a></li>
                <li><a href="contacto.html"><strong>Contactos</strong></a></li>
            </ul>
<div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
</div>
    </div> 
    <div class="dropdown_menu ">
        <li><a href="index.html"><strong>Inicio</strong></a></li>
        <li><a href="bio.html"><strong>Acerca de mí</strong></a></li>
        <li><a href="habilidades.html"><strong>Habilidades</strong></a></li>
        <li><a href="proyectos.html"><strong>Proyectos</strong></a></li>
        <li><a href="contacto.html"><strong>Contactos</strong></a></li>
    </div>
</nav>

<div class="gridP">
<div class="contenido">

     <p class="introBotro"><strong>Uso de javascrypt y Yargs Tablas de Multiplicar</strong><br>
       para este proyecto se muestra una serie de iteraciones realizadas <br>
       utilizando yargs el cual nos permite capturar parametros en consola <br>
       y por medio de esta modalidad podemos operar con javascrypt dicha <br>
       información a tal modo que en el proyecto pretende generar tablas <br>
       de multiplicar capturando la base y un limite de iteraciones. <br>
       Además cuenta con una escritura en un archivo .txt con el contenido <br>
       iterado durante el proceso.
            </p>
 <div class="caja">           
<div class="slider-box">
    <ul>
        <li><img id="c5" src="../images/pYargs/s1.png" alt=""></li>
        <li><img id="c5" src="../images/pYargs/s2.png" alt=""></li>
        <li><img id="c5" src="../images/pYargs/s3.png" alt=""></li>
        <li><img id="c5" src="../images/pYargs/s4.png" alt=""></li>
    </ul>
      </div>
     </div>
      <div class="video">
<iframe src="https://drive.google.com/file/d/1iAdPiCuYWtASGNLzu4Sd2CPPj3mk2uEf/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>


</div>
</div>
<br><br>
<button class="verP"><a  href="../template/proyectos.html">Regresar</a></button>


<footer class="footer1">

      <img id="logoFooter" src="../images/logo hq.png" />
      <p><strong>Henry Isai Quenun cruz <br> 2290-20-6883</strong></p> 
       </footer>

       <script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropdownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function(){
        dropdownMenu.classList.toggle('open')
        const isOpen = dropdownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>

</body>
</html>